*{
    box-sizing:border-box;
}

html , body {
    margin: 0px;
    font-size: 18px;
    line-height: 1.6;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: black;
}


h3 {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

img {
    width: 500px;
margin: 30px 450px;
    
}
.container {
    max-width: 700px;
    margin: 0 auto;
    
}


.tab_navigation{
    padding: 0;
    margin: 0;
    list-style: none;
}
.tab_navigation li {
    display: inline-block;
    padding: 5px 15px;
    background:#f7ca14;
    min-width: 100px;
    text-align: center;
    color: #555;
    border-radius:5px 5px 0 0;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.tab_navigation li.active,
.tab_navigation li:hover{
    background-color: #dbd5bd;
}
.tab_container_area{

}

.tab_container{
    padding: 10px;
    background-color: #dbd5bd;
    color: #555;
    border-radius: 0 5px 5px 5px;
    display: none;
}






